
body {
    background-color: var(--color-background);
    color: var(--color-light);
}

.position{
    width: 100px;
    height: 100px;
    background-color: var(--color-dark);
}

#static{
    background-color: var(--color-text-secondary);
}

#relative{
    background-color: var(--color-primary);
}

#absolute{
    background-color: var(--color-light);
    color: var(--color-dark)
}
